body {
 background-image: url("background.jpg");
 background-color: #cccccc;
 margin: 0;
 padding: 0;
}

h1 {
  color: white;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

output {
  color: white;
}

.polymorpha {
  color: white;
  font-size: 24pt;
  float: left;
}

.label {
  color: white;
  font-size: 80%;
  float: left;
}

.row {
  width: 768px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  font-size: 100%;
  float: left;
  width: 24%;
  padding: 0px;
}

.column2 {
  font-size: 200%;
  float: right;
  width: 76%;
}

.button {
  -webkit-appearance: none;  /* Override default CSS styles */
  font-size: 142%;
  width: 90%;
  height: 40px;
  float: left;
  background: #d3d3d3;
  border-radius: 8px;
  border: 1px solid black;
}
.button:hover {background-color: #888888}

.controls {
  font-size: 200%;
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  float: right;
  width: 70%;
  height: 16px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #FFFFFF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #FFFFFF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
